.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.title{
    color: #404565;
    padding: 10px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.list{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    gap: 20px;
}
