.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    color: #404565;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.link{
    font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404565;
}

.span{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #616691;
}

.span:hover{
    color: #8590c0;
    transition: 300ms linear, color 300ms linear;
}
