.list{
    padding: 20px;
    width: 600px;
    display: flex;
    gap: 20px;
    padding: 8px;
    justify-content: center;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.wrap{
    display: flex;
    padding: 0;
}

.text{
    color: #404565;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.icon{
    color: #404565;
    width: 50px;
}

.icon:hover{
    color: #8590c0;
}

.btn {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}


