.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text{
    font-size: 18px;
        font-weight: 600;
        line-height: normal;
        color: #404565;
}

.btn{
    display: block;
    width: 100px;
    height: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    border: 1px solid #616691;
    background-color: transparent;
    border-radius: 10px;
    color: #404565;
}

.btn:hover{
    background-color: #8590c0;
    color: #e3d0e0;
    transition: 300ms linear, color 300ms linear;
}
